.keyboard-design-classic-1 {
}
.keyboard-design-classic-1 .keyboard-title {
  background-color: rgba(0, 0, 0, 0.6);

  color: white;
  padding: 0 0.5rem;
  border-radius: 2;
}
.keyboard-design-classic-1 .keyboard {
  border-radius: 10px;
  box-shadow: 4px 5px 7px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
}
.keyboard-design-classic-1 .button-key-div {
  background-color: rgb(245 245 245);
  border-radius: 4px;
  color: black;
}
.keyboard-design-classic-1 .button-key-div button {
  color: black;
}
